flows.json
[
    {
        "id": "d5fa64cb.895788",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7493e9ee.4b09e8",
        "type": "comment",
        "z": "d5fa64cb.895788",
        "name": "Node-Red y Git",
        "info": "",
        "x": 360,
        "y": 100,
        "wires": []
    },
    {
        "id": "a1a7409c.959ce",
        "type": "inject",
        "z": "d5fa64cb.895788",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 200,
        "wires": [
            [
                "d54edc0a.cb38f"
            ]
        ]
    },
    {
        "id": "d54edc0a.cb38f",
        "type": "debug",
        "z": "d5fa64cb.895788",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 200,
        "wires": []
    }
]